@media only screen and (max-width: 767px){
    .tagline span {
        font-size: 70%;
    }
    
    .slide2 .media-body h5 {
        font-size: 100%;
    }
    
    .slide2 .media-body p {
        font-size: 100%;
    }
    
    .popular2 {
        margin-top: -100px;
    }
}

@media only screen and (max-width: 576px){
    .tagline span {
        margin: -30px -50px;
        font-size: 50%;
    }
    
     .slide2 .media-body h5 {
        font-size: 70%;
    }
    
    .slide2 .media-body p {
        font-size: 70%;
    }
}

@media only screen and (max-width: 360px){
    .tagline span {
        margin: -30px -50px;
        font-size: 30%;
    }
    
    .slide2 .media-body h5 {
        font-size: 50%;
    }
    
    .slide2 .media-body p {
        font-size: 50%;
    }
}


@media only screen and (max-width: 991px) and (min-width:768px){
    .content1 {
        transform: translateY(180%);
        transition-duration: 1s;    
    }
    
    .content2 {
        transform: translateY(148%);
        transition-duration: 1s;    
    }
    
    .content3 {
        transform: translateY(148%);
        transition-duration: 1s;    
    }
    
    .content h2{
        font-size: 80%;
    }
    
    .content p {
        font-size: 80%;
    }
}

@media only screen and (max-width: 1199px) and (min-width:992px){
    .content {
        transform: translateY(200%);
        transition-duration: 1s;    
    }
    
    .content h2{
        font-size: 160%;
    }
    
    .content p {
        font-size: 80%;
    }
}

@media only screen and (min-width:1502px) {
    .tagline span {
        font-size: 110%;
    }
}

@media only screen and (min-width:1680px) {
    .tagline span {
        font-size: 120%;
    }
}

@media only screen and (min-width:1920px) {
    .tagline span {
        font-size: 150%;
    }
}


