@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,500;0,700;1,500;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcfcfc;
    min-height: 1500px;
}

/* == JUMBOTRON == */

.jumbotron {
    margin-top: 0px;
}

.jumbotron-override {
    background-image: linear-gradient(rgba(50, 68, 88, 0.71), rgba(50, 68, 88, 0.7)), url(../img/header1.jpg);
    margin-bottom: 0px;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    height:700px;
}

.jumbotron-override:before {
    content: "";
    position: absolute;
    top: 520px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15em;
    background: url("../img/border1.png") center no-repeat;
    background-size: cover;
}


.tagline {
    overflow: hidden;

}

.tagline h1{
    font-size: 790%;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: 700;
    color: #eaeaea;
    letter-spacing: 2px;
}

#word1 {
    position: relative;
    z-index: 1;
    bottom: -70px;
}

#word2{
    position: relative;
    z-index: 1;
    font-family: 'Petit Formal Script', sans-serif;
    color: #394b65;
    letter-spacing: -2px;
}

#word3{
    position: relative;
    z-index: 1;
    top: -50px;
}

/* == MAIN NAVIGATION == */

.navbar-override ul {
    margin: 0 auto;
    font-family: Raleway, sans-serif;
}

.navbar-override ul li {
    margin: 5px 30px;
    font-size: 110%;
    letter-spacing: 5px;
}

.navbar-toggler-override {
    color: white;
}

.navbar-nav li {
    margin-right: 15px;
}

.navbar-brand {
    margin: 0;
    margin-left: 20px;
    font-family: Raleway, sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 3px;
}

/* == CONTENT == */

.slide1 {
    padding: 30px 0;
    padding-bottom: 150px;
    overflow: hidden;
    margin: 10px 0;
}

.slide1 h1 {
    margin: 30px 0;
}

.slide1:before {
    content: "";
    position: absolute;
    top: 1350px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15em;
    background: url("../img/border2.png") center no-repeat;
    background-size: cover;
}

.slide2 {
    height: 400px;
    margin-top: -100px;
    padding: 180px 0 80px 0;
    background-color: rgb(50,68,90);
    color: white;
}

/* -- CARD SLIDE 1 -- */
.card {
    border-radius: 20px;
    height: 400px;
    margin: 30px;
    box-shadow: 0 0 15px 5px grey;
    background-position: center;
    background-size: cover;
    color: white;
    transition-duration: 1s;
}

.card1 {
    background-image: linear-gradient(rgba(50, 68, 88, 0.55), rgba(50, 68, 88, 0.55)), url(../img/card1.jpg);
}

.card2 {
    background-image: linear-gradient(rgba(50, 68, 88, 0.55), rgba(50, 68, 88, 0.55)), url(../img/card2.jpg);
}

.card3 {
    background-image: linear-gradient(rgba(50, 68, 88, 0.55), rgba(50, 68, 88, 0.55)), url(../img/card3.jpg);
}

.content {
    transform: translateY(170%);
    transition-duration: 1s;    
}

.content h2 {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: 700;
}

.hide {
    color: transparent;
    transition: color 1s;
}

.btn {
    border: none;
    background-color: transparent;
    color: transparent;
    border-radius: 20px;
    transition: background-color 0.2s, color 0.2s;
}

.card:hover {
    transform: translateY(-5%);
    transition-duration: 1s;
}

.card:hover .content {
    transform: translateY(70%);
    transition-duration: 1s;
}

.card:hover .hide {
    color: white;
    transition: color 0.2s;
}

.card:hover .btn {
    background-color: black;
    color: white;
    transition: background-color 1s, color 1s;
}

/* == SLIDE 3 == */
.slide3 {
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0;
}

.slide3 .col:first-of-type {
    margin-left: 100px;
}

.slide3 .col:last-of-type {
    margin-right: 100px;
}

.slide3 a {
    text-decoration: none;
    color: black;
}

.slide3 div {
    transition-duration: 0.5s;
}

.slide3 div:hover{
    transform: translateY(-2%);
    transition-duration: 0.5s;
}

.slide3 h2 {
    height: 50px;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 100px;
}

.slide3 .col {
    padding: 0;
}

.slide3 img {
    text-align: left;
    height: 250px;
    width: 350px;
    object-fit: cover;
}

.slide3 p {
    color: #5a5a5a;
}

.slide3 span {
    color: #6c6c90;
    margin-left: 15px;
}

.slide3 p, .slide3 h4 {
    margin: 20px 0;
}

.subscribe-news {
    margin: 50px 0;
}

.subscribe-news .subscribe {
    margin: 0 80px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.subscribe-news p {
    margin-bottom: 30px;
}

.subscribe-news form {
    padding: 20px 0;
}

.news-input {
    width:50%;
    padding: 10px;
    border: 1px solid grey;
}

.news-submit {
    color: white;
    font-size: 120%;
    font-weight: 500;
    width: 50%;
    margin-top: 15px;
    background-color: rgb(50, 60, 88);
    padding: 10px 30px;
    transition: background-color, 0.2s;
}

.news-submit:hover {
    background-color: rgb(25, 30, 44);
    transition: background-color, 0.2s;
}

/* == FOOTER == */
.card-footer {
    background-color: rgb(50, 68, 90);
    padding: 20px;
    color: #ffffff;
}

.card-footer p {
    margin-top: 20px;
    margin-bottom: 0;
}

.card-footer ul {
    list-style: none;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 0;
}

.card-footer li {
    display: inline;
    margin-right: 20px;
}

.icon li{
    margin-right: 0;
}

.icon ion-icon {
    font-size: 40px;
    color: #c9c9c9;
}

#facebook:hover {
    color: #4267B2;
}

#twitter:hover {
    color: #00acee;
}

#pinterest:hover {
    color: #E60023;
}

#youtube:hover {
    color: #FF0000;
}

#instagram:hover {
    color: #515bd4;
}

.card-footer li a {
    margin-right: 20px;
    color: #ffffff;
}

.card-footer li a:hover {
    color: #7ea5fd;
}

.card-footer li span {
    font-size: 80%;
    color: #797979;
}

.copyright {
    color: white;
    font-size: 80%;
}

.footer-desc {
    color: #d1d1d1;
    padding: 0 10%;
    font-size: 90%;
}