.carousel-inner img {
    height: 90vh;
    object-fit: cover;
}

.carousel-inner::after {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15em;
    background: url("../img/border1.png") center no-repeat;
    background-size: cover;
    z-index: 999;
}

.wrap {
    position:relative;
}

.wrap:before {
    content:"";
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: rgba(0, 0, 0, 0.6);
    z-index:1;
}

.carousel-caption-override {
    position: absolute;
    margin: 250px 0;
}

.carousel-caption-override h1 {
    font-weight: 600;
    font-size: 400%;
    padding-right: 30px;
    margin: 0;
}

.carousel-caption-override span {
    color: #7ba4ff;
}

.control-override {
    margin-top: -10%;
}

.section-1-item h1, .section-2-item h1, .section-3-item h1, .section-4-item h1 {
    text-align: left;
    margin-bottom: 50px;
    font-size: 280%;
    font-weight: 500;
}

.section-1, .section-2, .section-3, .section-4 {
    padding-top: 50px;
}

.latest {
    margin-bottom: 50px;
}

.latest img, .section-2 .row2 img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 30px;
}

.latest a {
    color: #313131;
}

.section-2 {
    background-color: rgb(227, 227, 227);
}

.section-2 .row1 img {
    width: 525px;
    height: 350px;
    object-fit: cover;
    margin-bottom: 30px;
}

.section-2 .row1 .img1 {
    margin-right: 30px;
}

.section-3 {
    background-color: rgb(50, 68, 88);
}

.section-3-item h1 {
    color: white;
}

.section-3 .row1 img {
    width: 100%;
    margin-right: 30px;
    margin-bottom: 50px;
}

.section-3 .col2 {
    transform: translateY(-15%);
    margin-left: 30px;
}


.section-3 .sidecol img {
    position: sticky;
    top: 40%;
    width: 102%;
    margin-left: 50px;
}

.section-4 {
    background-color: #fcfcfc;
}
.navbar-override {
    background-color: rgb(50, 68, 88);
}
